<div class="tienda">
    <div class="container py-4">
        <app-menubar></app-menubar>
      <div class="box carrito">
        <h2 class="titulo animated fadeIn slow" [ngStyle]="{display:inline-block}">TITULO
        </h2>
        <div>
          <ul class="producto list-group col-sm-6 col-xs-12 no-padding animated fadeIn slow">
            <li class="list-group-item flex col-xs-12 no-padding" *ngFor="let item of listaCarrito" [ngStyle]="{background:'#ededed'}">
              <div class="col-xs-12 no-padding">
                
              </div>
            </li>
          </ul>
          <div class="col-sm-6 col-xs-12 animated fadeIn slow">
            <div>
              <h2 class="text-right"><button class="btn btn-danger btn-sm"  type="button" (click)="this.vaciarCarrito()"><i class="material-icons"[ngStyle]="{'line-height' : '14px', 'font-size': '17px', 'position' : 'relative', 'top': '3px'}">delete</i> Vaciar Carrito</button></h2>
              <h2 class="text-right"> Total a pagar:</h2>
              <h3 class="text-right">{{ 12 | currency : 'USD' : 1-0-2}}</h3>
              <p class="pull-right">
                <button class="btn btn-success " type="button"  (click)="pagarCarrito()"><i class="material-icons">credit_card</i> Pagar</button>
              </p>
            </div>
          </div>
        </div>
        <div >
          <p>No ha agregado productos al carrito de compras. Lo invitamos a dar un paseo por nuestra <a [routerLink]="['/tienda']">Tienda Virtual</a></p>
        </div>
      </div>
    </div>