<div class="tienda">
  <div class="container">
    <app-menubar></app-menubar>
    <div class="row py-3">
      <div class="lista-productos fadeInDownBig fast col-sm-12">
        <form>
          <div class="row py-4">
            <div class="col-sm-9">
              <h2 class="pull-left">Catalogo de productos</h2>
            </div>
            <div class="col-sm-3">
              <span class="pull-right ml-auto">
                <div class="form-group ">
                  <label for="descripcion">¿Qué estas buscando?</label>
                  <input type="text" [(ngModel)]="articuloFilter.nombre" [ngModelOptions]="{standalone: true}"  placeholder="Buscar producto" class="form-control input-filtro" />
                  <span class="error">Introduzca la información a buscar</span>
                </div>
              </span>
            </div>
          </div>
          <div class="row py-1">
            <div class="col-sm-4" *ngFor="let item of allArticle | filterBy: articuloFilter">
              <div class="card box">
                <div class="card-body">
                  <div class="img">
                    <img src="assets/img/{{item.img}}" alt="" class="img-fluid img-thumbnail">
                    <h5 class="card-title">{{item.nombre}}</h5>
                    <div>
                      <p>Precio: ${{item.precio}}</p>
                      <p>Unidades disponibles: {{item.stock}}</p>
                    </div>
                  </div>
                  <div class="input-group">
                    <a class="btn btn-primary" (click)="showMore(item);" >Ver mas</a>
                    <button class="btn btn-default ml-5 mr-1">Añadir</button>
                    <input type="number" min="0" max="50" class="form-control text-right" width="10">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>