<div class="login">
  <div class="form-container">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="checkLogin()">
      <h1 class="h3 mb-3 font-weight-normal white-text text-center">Iniciar Sesion</h1>
      <div class="form-group">
        <label for="email" class="white-text">Correo electronico</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email address" required autofocus>
      </div>
      <div class="form-group">
        <label for="password" class="white-text">Contrasena</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" required>
      </div>
      <div class="row text-center">
        <div class="message">
          {{ message }}
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    </form>
  </div>
</div>